
@import 'shared.styles';

html, body, .app {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.app {
    overflow: auto;
}

body {
    min-height: 100%;
    overflow: hidden;
    background-color: #eee;
    font-size: $desktop-font-size;
    @include respond-to(mobile) {
        font-size: $tablet-font-size;
    }
    @include respond-to(mobile) {
        font-size: $mobile-font-size;
    }
}

* {
    font-family: $main-font;
}

.map-display {
    position: absolute;
    top: 1em;
    left: 1em;
    right: 1em;
    bottom: 5em;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 3px 0 rgba(#000, .2), 0 1px 1px 0 rgba(#000, .14), 0 2px 1px -1px rgba(#000, .12);
    overflow: hidden;

}

.display {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: .25em;
    z-index: 999;
}

.item {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: .25em;
    padding: .5em;
    font-size: .8em;
}

.controls {
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 1em;
    left: 1em;
    right: 1em;
    height: 2em;
    padding: .5em;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 3px 0 rgba(#000, .2), 0 1px 1px 0 rgba(#000, .14), 0 2px 1px -1px rgba(#000, .12);
}

button {
    font-size: .8em;
    padding: .75rem 1rem;
    border-radius: 4px;
    min-width: 8rem;
    background-color: #1E88E5;
    color: #fff;
    margin: .25rem;
    flex: 1
}
